# Python cache files
__pycache__/
*.pyc
*.pyo

# Virtual environment
.venv/
venv/
# PyCharm project files
.idea/

# Swap files
*.swp

# OS files (Linux/Windows/Mac)
.DS_Store
Thumbs.db

# Optional: Gitignore logs or temp files
*.log
